.ticket-item {
  margin-top: 20px;
  padding: 20px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 502px;
}

.ticket-item__price {
  width: 50%;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196F3;
}

.ticket-item__carrier {
  width: 50%;
  margin-bottom: 20px;
  text-align: right;
}

.ticket-item__carrier-logo {
  padding-right: 50px;
}

.ticket-item__info-block {
  width: 140px;
  margin-bottom: 10px;
}

.info-block__label {
  font-size: 12px;
  text-transform: uppercase;
  color: #A0B0B9;
  font-weight: 600;
}

.info-block__value {
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 600;
}
